body {
    font-family: Segoe UI Light, Arial, monospace;
    background-color: black;
    color: white;
}

section#header {
    overflow: auto;
}

#headerBlock {
    float: left;
    margin: 0 10px 10px 0;
}

#headerBlock p {
    margin-bottom: 0;
}
#headerBlock h1 {
    font-size: 36pt;
    margin-top: 0;
}

#controlBlock {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#controlBlock button {
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
}

.majorButton {
    font-size: large;
}

#controlBlock button:disabled {
    color: gray;
    background-color: lightgray;
}

#btnStart {
    background-color: green;
    color: white;
}

#btnPause {
    background-color: yellow;
}

table#playground {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

td {
    padding: 4px;
    background-color: #222;
}

td.alive {
    background-color: lightblue;
}