body {
    font-family: Segoe UI Light, Arial, monospace;
    background-color: black;
    color: white;
}

h1 {
    font-size: 36pt;
    float: left;
    margin-top: .5ex;
}

#controlBlock {
    margin-top: 18pt;
    float: right;
}

table#playground {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

td {
    padding: 4px;
    background-color: #222;
}

td.alive {
    background-color: lightblue;
}